<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Products</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/baskets">Baskets</a></li>
            <li><a href="/favorites">Favorites</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Products</h1>
        <div class="product-form">
            <h2>Add New Product</h2>
            <form id="productForm">
                <input type="text" name="name" placeholder="Product Name" required>
                <input type="text" name="desc" placeholder="Description" required>
                <input type="number" name="stock" placeholder="Stock" required>
                <input type="text" name="category" placeholder="Category" required>
                <input type="number" name="price" placeholder="Price" required>
                <input type="text" name="imageUrl" placeholder="Image URL" required>
                <button class="add-button" type="submit">Add Product</button>
            </form>
        </div>
        <div class="product-list">
            <% products.forEach(product => { %>
                <div class="card">
                    <h3><%= product.name %></h3>
                    <p>Description: <%= product.desc %></p>
                    <p>Stock: <%= product.stock %></p>
                    <p>Category: <%= product.category %></p>
                    <p>Price: <%= product.price %></p>
                    <img src="<%= product.imageUrl %>" alt="<%= product.name %> Image">
                    <button class="edit-button" onclick="editProduct('<%= product.id %>')">Edit</button>
                    <button class="delete-button" onclick="deleteProduct('<%= product.id %>')">Delete</button>
                    <button style="margin-top: 10px; background-color: blue;" class="delete-button" onclick="addToFavorite('<%= product.id %>')">Add to favorite</button>
                </div>
            <% }) %>
        </div>

        <script>
            const forum = document.querySelector("#productForm")
            forum.addEventListener("submit", (e) => {
                e.preventDefault()
                const formData = new FormData(e.target)
                const newProduct = {
                    name: formData.get("name"),
                    desc: formData.get("desc"),
                    stock: formData.get("stock"),
                    category: formData.get("category"),
                    price: formData.get("price"),
                    imageUrl: formData.get("imageUrl")
                }
                fetch("/products", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(newProduct)
                })
               .then(res => res.json())
               .then(product => {
                    window.location.reload()
                })
            })

            const deleteProduct = (id) => {
                fetch(`/products/${id}`, {
                    method: "DELETE"
                })
               .then(res => res.json())
               .then(product => {
                    window.location.reload()
                })
            }
            const addToFavorite = (id) => {
                fetch(`/products/add/${id}`, {
                    method: "GET"
                })
               .then(res => res.json())
               .then(product => {
                    window.location.reload()
                })
            }
        </script>
</body>
</html>